*

nvim/lazy-lock.json
kitty/os.conf

!link/
!link/**

link/home/.gemini/**
!link/home/.gemini/settings.json

!kitty
!kitty/**

!aerospace
!aerospace/**

!alacritty
!alacritty/**

!htop
!htop/**


!hypr
!hypr/**

!hyprpanel
!hyprpanel/**

!kitty
!kitty/**

!lazygit
!lazygit/**

!mpv
!mpv/**

!neofetch
!neofetch/**

!niri
!nifi/**

!nvim
!nvim/**

!rofi
!rofi/**

!yazi
!yazi/**
yazi/plugins
yazi/plugins/**

!zed
!zed/**

!electron-flags.conf
!qq-electron-flags.conf

!noctalia
!noctalia/**
noctalia/plugins.json
noctalia/plugins/**
nvim/lazy-lock.json
