* {
  font-family:'Monospace','Monospace Regular';
  padding-left: 3px;
  padding-right: 3px;
}

window#waybar {
  background: transparent;
  color: #dcd7ba;
}

tooltip {
  background: #1f1f28;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #7e9cd8;
  font-size: 13px;
}

tooltip label {
  padding: 7px;
}

#tray {
  /* background: #16161d; */
  background: #1f1f28;
  font-size: 13px;
  padding-top: 20px;
  /* border-top-left-radius: 15px; */
  /* border-top-right-radius: 15px; */
  /* border-bottom-left-radius: 15px; */
  /* border-bottom-right-radius: 15px; */
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#workspaces {
  /* background: #16161d; */
  background: #1f1f28;
  font-size: 13px;
  padding-top: 10px;
  border-radius: 20px;
  padding-bottom: 10px;
}

#workspaces button {
  color: #dcd7ba;
  padding-top: 5px;
  padding-bottom: 5px;
}

#workspaces button.focused {
  color: #7e9cd8;
}

#workspaces button.active {
  color: #7e9cd8;
}

#workspaces button.urgent {
    color: #e6c384;
}

#workspaces button:hover {
    background: #1f1f28;
    border-color: #1f1f28;
    color: #7e9cd8;
    border-radius: 20px;
}

#custom-spotify {
  background: #16161d;
  color: #d27e99;
  padding-bottom: 20px;
  font-size: 13px;
  border-radius: 0px;
}

#network, #pulseaudio, #pulseaudio.percentage, #battery, #battery.percentage, #custom-randwall, #custom-calendar-icon, #clock, #clock.date, #custom-time-icon, #clock.time {
  background: #1f1f28;
  /* background: #16161d; */
  border-radius: 0px;
}


/* #network, #pulseaudio, #battery, #custom-calendar-icon, #clock,#custom-randwall, #custom-time-icon { */
/*   padding-top: 15px; */
/*   padding-bottom: 0px; */
/*   font-size: 15px; */
/* } */

/*  #pulseaudio.percentage, #battery.percentage, #clock.date, #clock.time { */
/*   padding-top: 2px; */
/*   font-size: 13px; */
/* } */

 #pulseaudio.percentage, #battery.percentage{
  padding-top: 2px;
  font-size: 13px;
}


#network, #pulseaudio, #battery, #custom-randwall, #custom-time-icon {
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 15px;
}

#clock {
  padding-top: 0px;
  font-size: 13px;
  padding-bottom: 20px;
}

#network {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #7aa89f;
}

#costum-randwall {
  color: #dcd7ba;
}

#pulseaudio {
  color: #c0a36e;
}

#pulseaudio.percentage {
  color: #dcd7ba;
}

#battery {
  color: #98bb6c;
}

#battery.percentage {
  color: #dcd7ba;
}

/* #custom-calendar-icon { */
/*   color: #957fb8; */
/* } */

#clock {
  color: #dcd7ba;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* #clock.date { */
/*   padding-bottom: 25px; */
/*   border-bottom-left-radius: 20px; */
/*   border-bottom-right-radius: 20px; */
/*   color: #dcd7ba; */
/*   font-size: 13px; */
/* } */

#custom-time-icon {
  color: #7fb4ca;
}

/* #clock.time { */
/*   color: #dcd7ba; */
/* } */
